{% extends "base_layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5 mx-auto" style="background-color: rgb(231, 221, 221);">
            <code>
            <h3 class="text-center m-3"><i>Prescription Details</i></h3>
            </code>
            <h4 class="text-center">Patient Name: {{ prescription.patient }}</h4>
            <h6 class="text-center">Prescribed By: {{ prescription.prescribed_by }}</h6>
            <h6 class="text-center">Prescribed Drug: {{ prescription.prescribed_drug }}</h6>
            <h6 class="text-center">Prescription Date: {{ prescription.prescribed_on }}</h6>
            <h6 class="text-center">Prescription Notes: {{ prescription.prescription_notes }}</h6>
          
            <hr>

            <div class="row mx-auto">
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'prescriptions' %}" class="btn btn-secondary">Back To Prescriptions</a>
            </div>
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'add_prescription' %}" class="btn btn-secondary">Add New Prescription</a>
            </div>
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="/" class="btn btn-secondary">Back Home</a>
            </div>
        </div>
        </div>
        
    </div>
</div>
  
{% endblock %}